# IDE and OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Git
.git

# Local environment variables
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-error.log
yarn-debug.log

# Dependency directories
# Ignore all node_modules directories in any subfolder
**/node_modules

# Build output directories
# Ignore all dist directories in any subfolder
**/dist
# Ignore Next.js build output
**/.next

# Terraform state files
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup 